html{
    margin:0;
    padding:0;
}
body
{
    margin:0;
    padding:0;
    font-family:Arial;
}
/*header{
     min-height:657px;
     height:1px;
}*/
header{
    height:280px;
    /*background:linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(images/noroot.png) center center no-repeat;*/
    background:linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url(images/4fd06ada8e17946503cfd3b64fbba225.jpg) center center no-repeat;
    background-size:cover;
}
#burger{
    float:right;
    position:fixed;
    padding:4px 5px 1px 5px;
    top:15px;
    right:15px;
    color:#fff;
    display:none;
    border:1px solid #ff8c00;
    border-radius:30px;
    background:#ff8c00;
    opacity:0.8;
     z-index: 3;
}
#hidden-menu{
    display:none;
    height:100%;
}
.hidden-menu-header{
    width:100%;
    height:60px;
    background:#000;
     line-height:60px;
}
.hidden-menu-close{
    color:#fff;
    float:right;
    font-size:26px;
    margin-right:20px;
}
 .hidden-menu {
            text-align:left;
           padding-left:5%;
        }
 .hidden-menu-close a{
     color:#fff;
     text-decoration:none;
 }
 .hidden-item li{
      color:#000;
    list-style:none;
     line-height:2;
      font-weight:bold;
 }
 .hidden-item li a{
      color:#000;
      text-decoration:none;
 }
 
 .hidden-item-phone{
     margin-top:40px;
 }
 .hidden-item-phone li{
    list-style:none;
 }
 .hidden-item-social{
     margin-top:40px;
 }
 .hidden-item-social li{
     list-style:none;
     display:inline-block;
 }
 .hidden-item-lang{
     margin-top:40px;
 }
   .hidden-item-lang li{
       display:inline-block;
   }
 /*.hidden-menu li{
      margin-bottom:20px;
}
.hidden-menu li a{
      color: #000;
      font-family:pfdintextcomppro-light;
     
}*/
        .hidden-menu-ticker{
            display: none;
        }
        .btn-menu {
            color: #fff;
            padding: 7px;
            height:22px;
            position: fixed;
            float:right;
            top: 50px;
            right: 100px;
            cursor: pointer;
            transition: right .23s;
            z-index: 3;
            width: 25px;
            -webkit-transform: translateZ(0);
            -webkit-backface-visibility: hidden;
            visibility:hidden;
            border:1px solid #ff8c00;
            border-radius:25px;
            background:#ff8c00;
            opacity:0.8;
        }

            .btn-menu span {
                display: block;
                height: 3px;
                 margin: 4px 0 0;
                background:#fff;
                transition: all .1s linear .23s;
                position: relative;
            }

                .btn-menu span.first {
                    margin-top: 2px;
                }
                 /*.btn-menu span.second {
                     margin-bottom:3px;
                }*/
        .hidden-menu-ticker:checked ~ .btn-menu {
            right: 30px;
            background:none;
            border:none;
   
        }
        .hidden-menu-ticker:checked ~ .hidden-menu {
            right: 0;
        }

        .hidden-menu-ticker:checked ~ .btn-menu span.first {
            -webkit-transform: rotate(45deg);
            top: 10px;
             background:#000;
              height: 5px;
        }

        .hidden-menu-ticker:checked ~ .btn-menu span.second {
            opacity: 0;
             height: 5px;
        }

        .hidden-menu-ticker:checked ~ .btn-menu span.third {
            -webkit-transform: rotate(-45deg);
            top: -10px;
             background:#000;
              height: 5px;
        }
.menu{
    height:80px;
    margin:0 auto;
    display:block;
    color:#fff;
}
ul.item{
    float:left;
}
ul.item li{
     margin-right:35px;
}
ul.item li a{
     color:#fff;
     text-decoration:none;
}
ul.item-phone{
    float:right;
}
ul.item-social{
   float:right;
}
ul.item-social li{
     margin:0;
     vertical-align:middle;
}
ul.item-lang li{
     margin-right:15px;
     vertical-align:middle;
}
ul.item-lang{
    float:right;
    margin-right:30px;
    opacity:0.5;
}
.menu li{
    display:inline-block;
    list-style:none;
    font-size:16px;
    font-weight:bold;
    line-height:40px;
}
.title{
    margin-left:100px;
    /*margin:10% 0 0 100px;*/
}
.title h1{
       font-family:'Cooper Black';
       color:#fff;
       font-size:52px;
        text-shadow: 1px 1px 2px black;
   }
.title h2{
       color:#fff;
       font-size:22px;
       font-weight:normal;
   }
/*.title button{
       margin:100px 0px 0px 0px;
       margin:10% 0 0 0;
       background:#ff8c00;
       font-size:16px;
       color:#fff;
       font-family:Arial;
       font-weight:bold;
       padding:20px 60px;
       border:none;
   }*/
.title input{
       margin:30px 0px 0px 0px;
       background:#ff8c00;
       font-size:16px;
       color:#fff;
       font-family:Arial;
       font-weight:bold;
       padding:20px 60px;
       border:none;
   }
.breadcrumbs{
    float:left;
    width:100%;
    margin:5px 0px 20px 0px;
    font-family:Arial;
    font-size:14px;
}
.breadcrumbs ul li{
    display:inline-block;
}
.breadcrumbs-home{
    text-decoration:none;
    color:inherit;
}
.breadcrumbs-sound{
    text-decoration-color:#000;
    color:inherit;
    font-family:inherit;
}
.fa{
    font-size:20px;
    color:#FF8C00;
}
main h1{
    text-align:center;
    font-size:38px;
    margin-bottom:50px;
}
.row{
    width:95%;
    display:block;
    margin:0 auto;
}
.row1{
    margin-bottom:70px;
}
.row2{
    margin-bottom:70px;
}
.column{
     width:32%;
}
.column1{
    float:left;
}
.column3{
    float:right;
}
.column2{
    display:block;
    margin:0 auto;
}
.device{
    position:relative;
    width:100%;
    height:300px;
    color:#fff;
    /*border:4px solid #ff8c00;*/
    border-radius:10px;
}
.device1{
      background:linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4) ), url(images/768796.jpg) center center no-repeat;
    background-size:contain;
}
.device2{
      background:linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4) ), url(images/uz-106-1.800x600w.jpg) center center no-repeat;
    background-size:contain;
}
.device3{
      background:linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4) ), url(images/yamaha-mg-12-xuk-53917211219043.jpg) center center no-repeat;
    background-size:contain;
}
.device4{
      background:linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4) ), url(images/96620076016315_small11.jpeg) center center no-repeat;
    background-size:contain;
}
.device5{
      background:linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4) ), url(images/zl1MsnTynO1.jpg) center center no-repeat;
    background-size:contain;
}
.device6{
      background:linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.4) ), url(images/komplekt_econom.jpg) center center no-repeat;
    background-size:contain;
}
.device h2{
     position:absolute;
    left:0;
    bottom:0;
    padding:0px 0px 10px 50px;
    font-size:22px;
}
.device h2 a{
    color:#fff;
    text-decoration:none;
}
/*.device:hover{
    background:linear-gradient( rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url(images/show_image_in_imgtag.jpg) center center no-repeat;
    color:#000;
    border:4px solid #ff8c00;
}*/
/*.column p{
    font-size:16px;
    text-align:center;
}
.column p a{
     color:#ff8c00;
    text-decoration-color:#ff8c00;
}*/
.column a{
     text-decoration:none;
}
.column a input{
    padding:15px 35px 15px 35px;
    margin-top:15px;
    border:solid 1px #000;
    border-radius:50px;
    background:#fff;
    font-size:14px;
    font-weight:bold;
    outline:none;
}
/*.column button{
    padding:15px 35px 15px 35px;
    margin-top:15px;
    border:solid 1px #000;
    border-radius:50px;
    background:#fff;
    font-size:14px;
    font-weight:bold;
}*/ 
.form{
    width:100%;
    padding:50px 0px 150px 0px;
      background:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url(images/konfetti-zvezdy1.jpg) center center no-repeat;
      background-size:cover;
}
.form h1{
       font-size:42px;
       text-align:center;
       /*margin:80px 0px 50px 0px;*/
       color:#fff;
   }
.form p{
    color:#fff;
}
.form form{
    width:77%;
    display:block;
    margin:auto;
    text-align:center;
}

.form-text{
    width:35%;
    float:left;
    height:60px;
    margin-right:2%;
    padding-left:15px;
    font-size:16px;
    border:2px solid #ff8c00;
}
.form-tel{
    width:35%;
    float:left;
    height:60px;
    margin-right:2%;
    padding-left:15px;
    font-size:16px;
    border:2px solid #ff8c00;
}
.form-submit{
    width:21%;
    float:left;
    height:65px;
    background:#ff8c00;
    color:#fff;
    border:none;
    /*margin-bottom:100px;*/
    font-size:16px;
    outline:none;
}
.contacts{
    width:100%;
      background:#fff;
      padding:50px 0px 50px 0px;
      color:#000;
}
.contacts h1{
    text-align:center;
    font-size:42px;
}
.contacts span{
    font-size:26px;
    color:#ff8c00;
}
.section p{
    font-size:24px;
    text-align:center;
    margin:0% 15% 0% 15%;
    line-height:1.5;
    /*padding-bottom:50px;*/
    margin-bottom:50px;
    font-weight:100;
}
footer{
    background:#111;
	width: 100%;
	height: 80px;
}
.copy{
    float:left;
    font-size:14px;
    color:#fff;
    margin-left:50px;
    line-height:80px;
}
.top{
    float:right;
    margin-right:50px;
     font-size:14px;
     color:#fff;
    margin-left:50px;
    line-height:80px;
}



